[flake8]
max-line-length = 88
extend-ignore = E203
exclude = api/migrations, api/models/__init__.py, api/views/__init__.py, api/tests/__init__.py, api/tests/factories/__init__.py, api/serializers/__init__.py, api/fixtures
